.container {
    margin: 0 auto;
    width: 90%;

    margin-top: calc(var(--header-height) + 15px);

    .tabs {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 20px;

        .tab {
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 1.2rem;
            font-weight: 700;
            color: var(--primary-text-color);
            background-color: var(--primary-color);

            cursor: pointer;

            &.active {
                color: var(--success-color);
            }
        }
    }
}