.container {
    margin: 0 auto;
    width: 90%;

    margin-top: calc(var(--header-height) + 15px);

    .tabs {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-bottom: 20px;

        .tab {
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 1.2rem;
            font-weight: 700;
            color: var(--primary-text-color);
            background-color: var(--primary-color);

            cursor: pointer;

            &.active {
                color: var(--success-color);
            }
        }
    }

    .searchResults {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        width: 100%;

        .searchResult {
            width: 100%;

            .extensionSearch {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                width: 100%;

                .extensionIcon {
                    width: 50px;
                    height: 50px;

                    margin-right: 10px;
                }

                h2 {
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: var(--primary-text-color);
                }

                .arrowIcon {
                    width: 30px;
                    height: 30px;

                    margin-left: auto;
                }
            }

            .searchResultList {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;

                width: 100%;
                padding: 22px 0;
            }


        }
    }


}