.deleteButton {
  background: none;
  border: none;
  color: var(--white-color);

  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0 7px;

  cursor: pointer;
  
  transition-duration: 0.4s;

  &:hover {
      animation: pulse 2s infinite;
      color: var(--red-2);
  }

  @keyframes pulse {
      0% {
          transform: scale(1);
      }
      50% {
          transform: scale(1.1);
      }
      100% {
          transform: scale(1);
      }
  }

  .deleteButtonIcon {
      display: flex;
      align-items: center;
      font-size: 1.7rem;
  }
}