.deleteButton {
    background: none;
    border: none;
    color: var(--primary-text-color);

    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    margin: 0 7px;
    padding: 0.5rem !important;

    cursor: pointer;

    transition-duration: 0.4s;

    &:hover {
        animation: pulse 2s infinite;
        color: var(--danger-color);
        background-color: var(--secondary-color);
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    .deleteButtonIcon {
        display: flex;
        align-items: center;
        font-size: 1.7rem;
    }
}