.dateLabel {
    font-size: 1.2rem;
    font-weight: bold;

    margin-bottom: 10px;
}

.entry {
    display: flex;
    align-items: center;

    padding: 15px;
    border-radius: 8px;
    margin: 4px 0;

    transition: all 0.2s ease-in-out;

    &.viewed {
        background: none;
        color: var(--secondary-text-color);
    }

    &.bookmarked {
        box-shadow: 0 0 6px var(--highlight-color);
    }


    &:hover {
        transform: scale(1.01);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    .serieInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-right: 20px;

        .serieImage {
            width: 100px;
            height: 100px;

            border-radius: 12%;
            object-fit: cover;

            &:hover {
                box-shadow: 0 0 6px var(--highlight-color);
                cursor: pointer;
            }
        }
    }

    .episodeInfos {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .serieName {
            font-size: 22px;
            margin-top: 10px;
            font-weight: bold;
            width: fit-content;

            &:hover {
                color: var(--highlight-color);
                cursor: pointer;
            }
        }

        .episodeName {
            padding: 10px 0;
            margin-bottom: 10px;
            color: var(--secondary-text-color);

            &:hover {
                color: var(--highlight-color);
                cursor: pointer;
            }
        }
    }
}