.container {
    margin: 12px auto;
    width: 90%;
    overflow-y: scroll;
    height: 90vh;

    .cardsContainer {
        margin-top: 2rem;

        .cardContainer {
            display: flex;
            justify-content: left;
            
            flex-wrap: wrap;
        }
    }
}