.navItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 80%;
    width: 100%;

    padding: 0.5rem 0;

    transition: background-color 0.2s ease-in-out;

    .navIcon {
        font-size: 2rem;
    }

    &.active {
        background-color: var(--primary-color-lighter);
    }
    
    &:hover {
        background-color: var(--primary-color-light);
        cursor: pointer;
    }

    .navIconContainer.active {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        width: 100%;
    }

    .navLabel {
        font-size: 0.85rem;
        font-weight: 600;
        margin-top: 0.25rem;
    }
}