// Variables
$card-border-radius: 4px;
$card-width: 250px;
$card-height: 300px;

.compact,
.spaced {
    position: relative;

    width: 100%;
    max-width: $card-width;
    height: $card-height;

    border-radius: $card-border-radius;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

    list-style: none;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    &:active {
        transform: scale(0.95);
        transition: transform 0.3s ease-in-out;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.7);
    }

    &.checked {
        transition: transform 0.2s ease-in-out;
        transform: scale(0.98);
        border: 5px solid var(--highlight-color);
    }

    &.source {
        min-width: $card-width;
        margin: 5px;
    }

    .inLibraryLabel,
    .episodeInfos {
        position: absolute;
        top: 5px;
        left: 5px;
        padding: 4px 8px;
        border-radius: 4px;
        font-weight: 600;
        font-size: 0.8rem;
        color: var(--primary-text-color);
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        background-color: var(--selection-color);
        z-index: 1;

        &.completed {
            background-color: var(--success-color);
        }
    }

    .cardContent {
        position: relative;
        width: 100%;
        height: 100%;

        &.completed {
            opacity: 0.9;
        }

        .cardImage {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            &.loadingEffect {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.7);
                z-index: 1;

                &::after {
                    content: '';
                    display: block;
                    width: 40px;
                    height: 40px;
                    border: 4px solid var(--highlight-color);
                    border-top-color: transparent;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    animation: spin 1s linear infinite;

                    @keyframes spin {
                        to {
                            transform: translate(-50%, -50%) rotate(360deg);
                        }
                    }
                }
            }

            &.imageLoaded {
                opacity: 1;
            }
        }

        .cardLayer {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: $card-border-radius;
            overflow: hidden;
            display: none;
            width: 100%;
            height: 100%;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;

            &.hovered {
                display: block;
                animation: fadeIn 0.2s ease-in-out;
            }

            &.inLibrary {
                opacity: 0.5;
                background-color: rgba(0, 0, 0, 0.5);
            }

            .cardLayerContent {
                position: relative;
                bottom: 0;
                left: 0;
                height: 100%;
                padding: 0.5rem 2rem;
                z-index: 2;

                .iconContainer {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;

                    svg {
                        width: 27px;
                        height: 27px;
                        padding: 2px;
                    }

                    &.moreIcon {
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                        background-color: rgba(0, 0, 0, 0.5);
                        border: 2px solid var(--success-color);

                        svg {
                            fill: var(--success-color);
                        }
                    }

                    &.playIcon {
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        background-color: rgba(0, 0, 0, 0.5);
                        border: 2px solid var(--selection-color-hover);

                        svg {
                            fill: var(--selection-color-hover);
                        }
                    }

                    &.checkboxIcon {
                        position: absolute;
                        top: 0;
                        right: 0;
                        border: none;

                        input[type="checkbox"] {
                            width: 23px;
                            height: 23px;
                            appearance: none;
                            border: 2px solid var(--secondary-text-color);
                            border-radius: 4px;
                            background-color: rgba(0, 0, 0, 0.5);
                            outline: none;
                            transition: all 0.2s ease-in-out;

                            &:checked {
                                background-color: var(--highlight-color);
                                border: 2px solid var(--highlight-color);

                                &::after {
                                    content: '';
                                    display: block;
                                    width: 10px;
                                    height: 5px;
                                    border: 2px solid var(--primary-text-color);
                                    border-top: none;
                                    border-right: none;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%) rotate(-45deg);
                                    animation: checkmark 0.2s ease-in-out;
                                }
                            }

                            &:hover {
                                cursor: pointer;
                            }

                            &:focus {
                                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
                            }
                        }
                    }

                    &:hover {
                        cursor: pointer;

                        &.playIcon,
                        &.moreIcon {
                            background-color: rgba(0, 0, 0, 0.2);
                            border: 2px solid var(--primary-text-color);
                            animation: pulse 1s ease-in-out infinite;

                            @keyframes pulse {
                                0% {
                                    transform: scale(1);
                                    opacity: 0.7;
                                }

                                50% {
                                    transform: scale(1.05);
                                    opacity: 1;
                                }

                                100% {
                                    transform: scale(1);
                                    opacity: 0.7;
                                }
                            }
                        }

                        svg {
                            transform: scale(1.1);
                            transition: all 0.2s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}

.compact {
    .cardTitle {
        position: absolute;
        bottom: 0;
        left: 0;

        width: 100%;

        margin: 0;
        padding: 0.5rem 1rem;

        font-weight: 600;
        color: #ffffff;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }
}

.spaced {
    margin-bottom: 2.4rem;

    .cardTitle {
        position: relative;
        width: 100%;

        margin: 0;
        padding: 0.5rem 1rem;

        font-weight: 600;
        color: var(--primary-text-color);
    }

}


// List Style
.list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin: 5px;
    padding: 10px;

    border-radius: $card-border-radius;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);

    transition: all 0.3s ease-in-out;
    list-style: none;

    &:active {
        transform: scale(0.95);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.7);
    }

    &.checked {
        transition: transform 0.2s ease-in-out;
        transform: scale(0.98);
        border: 5px solid var(--highlight-color);
    }

    .inLibraryLabel {
        padding: 4px 8px;
        border-radius: 4px;

        font-weight: 600;
        font-size: 0.8rem;

        color: var(--primary-text-color);
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        background-color: var(--selection-color);

        z-index: 1;
        order: 1;
    }

    .episodeInfos {
        padding: 4px 8px;
        border-radius: 4px;

        font-weight: 600;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        background-color: var(--selection-color);

        z-index: 1;
        order: 1;

        &.completed {
            background-color: var(--success-color);
        }

        .number {
            font-size: 0.8rem;
            color: var(--primary-text-color);
        }
    }

    .cardContent {
        display: flex;
        align-items: center;
        position: relative;

        .imgContainer {
            position: relative;

            width: 75px;
            height: 95px;
            margin-right: 10px;

            order: 1;

            .cardImage {
                width: 75px;
                height: 95px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                &.loadingEffect {
                    position: absolute;
                    top: 0;
                    left: 0;

                    width: 100%;
                    height: 100%;

                    background: rgba(255, 255, 255, 0.7);
                    z-index: 1;

                    &::after {
                        content: '';
                        display: block;
                        width: 40px;
                        height: 40px;
                        border: 4px solid var(--highlight-color);

                        border-top-color: transparent;
                        border-radius: 50%;
                        position: absolute;

                        top: 50%;
                        left: 50%;

                        transform: translate(-50%, -50%);
                        animation: spin 1s linear infinite;

                        @keyframes spin {
                            to {
                                transform: translate(-50%, -50%) rotate(360deg);
                            }
                        }
                    }
                }

                &.imageLoaded {
                    opacity: 1;
                }
            }
        }

        .cardTitle {
            font-weight: 600;
            color: var(--primary-text-color);
            order: 2;
        }

        .cardLayer {
            display: flex;
            align-items: center;

            .cardLayerContent {
                display: flex;
                align-items: center;

                .cardOptions {
                    order: 1;
                    margin: 0 12px;

                    .iconContainer {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 40px;
                        height: 40px;

                        border-radius: 50%;
                        margin: 4px 0;

                        svg {
                            width: 27px;
                            height: 27px;

                            padding: 2px;
                        }
                    }

                    .iconContainer.moreIcon {
                        background-color: rgba(0, 0, 0, 0.5);
                        order: 3;

                        svg {
                            fill: var(--success-color);
                        }
                    }

                    .iconContainer.playIcon {
                        background-color: rgba(0, 0, 0, 0.5);
                        order: 4;

                        svg {
                            fill: var(--selection-color-hover);
                        }
                    }
                }

                .iconContainer.checkboxIcon {
                    border: none;

                    input[type="checkbox"] {
                        width: 23px;
                        height: 23px;

                        appearance: none;
                        border: 2px solid var(--secondary-text-color);
                        border-radius: 4px;

                        background-color: rgba(0, 0, 0, 0.5);
                        outline: none;

                        transition: all 0.2s ease-in-out;

                        &:checked {
                            position: relative;

                            background-color: var(--highlight-color);
                            border: 2px solid var(--highlight-color);

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            &::after {
                                content: '';
                                display: block;

                                width: 10px;
                                height: 5px;

                                border: 2px solid var(--primary-text-color);
                                border-top: none;
                                border-right: none;

                                position: absolute;
                                top: 50%;
                                left: 50%;

                                transform: translate(-50%, -50%) rotate(-45deg);
                                animation: checkmark 0.2s ease-in-out;
                            }
                        }

                        &:hover {
                            cursor: pointer;
                        }

                        &:focus {
                            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
                        }
                    }
                }

                &:hover {
                    cursor: pointer;
                }

            }
        }
    }
}

@keyframes checkmark {
    from {
        width: 0;
        height: 0;
    }

    to {
        width: 10px;
        height: 5px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}