.nav {
    width: var(--navigation-width);
    height: 100%;
    
    position: fixed;
    z-index: 99;
    
    top: var(--header-height);
    left: 0;

    background-color: var(--tertiary-color);
    color: var(--white-color);

    .navList {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;

        margin-top: 20px;
    }
}

.content {
    margin-left: var(--navigation-width);
}