.videoPlayer {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;

    .videoWrapper {
        position: relative;
        width: 60%;
        height: auto;

        .videoPlayer__closeContainer {
            position: absolute;
            top: 6px;
            right: 6px;

            border-radius: 50%;

            .videoPlayer__close {
                font-size: 20px;
                color: #fff;
                transition: color 0.3s;
                cursor: pointer;

                padding: 9px;
                background-color: rgba(32, 32, 32, 0.7);
                border-radius: 50%;
            }
        }
    }
}