.backArrow {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    padding: 0;
    background-color: transparent;
    color: var(--primary-text-color);

    .backArrowIcon {
        width: 25px;
        height: 25px;

        margin: 0 22px 0 17px;
        transition: all 0.3s ease-in-out;
    }
}