.backArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;

    .backArrowIcon {
        width: 35px;
        height: 35px;

        margin: 0 22px 0 17px;

        transition: all 0.3s ease-in-out;

    }
}