.themeSettings {
    display: flex;

    padding: 20px;
    gap: 20px;

    overflow-y: auto;

    .themes {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;

        .themeCard {
            cursor: pointer;

            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 7px;
            transition: background-color 0.3s ease;

            .cardContent {
                position: relative;
                cursor: pointer;

                &.active {
                    border: 4px solid var(--highlight-color);
                    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.7);
                }

                border: 4px solid rgba(0, 0, 0, 0.1);
                border-radius: 8px;

                .activeTheme {
                    position: absolute;
                    top: 3px;
                    right: 3px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    z-index: 100;

                    svg {
                        width: 26px;
                        height: 26px;

                        fill: var(--highlight-color);
                    }
                }

                .body {
                    position: relative;

                    width: 200px;
                    height: 150px;

                    display: flex;
                    background-color: var(--secondary-color);

                    .header {
                        width: 100%;
                        height: 25px;

                        background-color: var(--primary-color);
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                        z-index: 1;
                    }

                    .navigation {
                        position: absolute;
                        top: 0;
                        left: 0;

                        width: 25px;
                        height: 150px;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        background-color: var(--tertiary-color);
                    }

                    .content {
                        position: absolute;
                        top: 15px;
                        left: 25px;

                        display: flex;

                        .serieCard {
                            position: relative;
                            width: 40px;
                            height: 55px;

                            background-color: var(--tertiary-color);

                            display: flex;
                            margin-top: 20px;
                            margin-left: 5px;

                            .label1,
                            .label2 {
                                position: relative;
                                top: 5px;
                                left: 5px;

                                width: 10px;
                                height: 10px;
                            }

                            .label1 {
                                background-color: var(--selection-color);
                            }

                            .label2 {
                                background-color: var(--success-color);
                            }
                        }
                    }
                }
            }

            .themeName {
                margin-top: 10px;
                font-size: 1rem;
                font-weight: 600;

                text-transform: uppercase;
                text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            }
        }
    }
}