.categoryList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    
    margin: 10px 30px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--secondary-text-color);
    border-radius: 4px;
    
    padding: 10px;
    width: 80%;
    
    margin: 20px auto;
    background-color: var(--primary-text-color);

    .formInput {
        flex: 1;
        
        border: none;
        outline: none;

        padding: 8px;
        font-size: 16px;
        background-color: transparent;
    }

    .createIcon {
        cursor: pointer;
        font-size: 24px;
        color: var(--success-color);

        &:hover {
            color: var(--success-color);
        }
    }
}