:root {
    --primary-color: #343740;

    --primary-color-light: #4a4e5a;
    --primary-color-dark: #303644;

    --black-color: #000000;
    --white-color: #ffffff;
    --gray-1: #fafafa;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--primary-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* ************************************ */
/* ********** GLOBAL STYLES *********** */
/* ************************************ */

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1 {
	font-size: 2rem;
	font-weight: 600;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

input {
	border: none;
	outline: none;
}

