/* Global Styles */
:root {
    --header-height: 60px;
    --navigation-width: 65px;
}

/* Theme 1 : Default theme */
.default-theme {
    --primary-color: #343740;
    --secondary-color: #4a4e5a;
    --tertiary-color: #2c303c;

    --primary-text-color: #ffffff;
    --secondary-text-color: #9e9e9e;
    --tertiary-text-color: #000000;

    --selection-color: #6590ff;
    
    --highlight-color: #007bff;
    --highlight-color-hover: #0069d9;

    --danger-color: #ff2e2e;
    --danger-color-hover: #e61919;

    --success-color: #21bf73;

    transition: all 0.3s ease-in-out;
}

/* Theme 2: Dark Theme */
.dark-theme {
    --primary-color: #1a1a1a;       /* Dark Charcoal */
    --secondary-color: #2c2c2c;     /* Charcoal */
    --tertiary-color: #333333;      /* Slightly Lighter Charcoal */
    
    --primary-text-color: #ffffff;  /* White */
    --secondary-text-color: #b4b4b4; /* Light Gray */
    --tertiary-text-color: #7e7e7e;  /* Gray */
    
    --selection-color: #1f59ec;     /* Light Blue */
    
    --highlight-color: #007bff;     /* Bright Blue */
    --highlight-color-hover: #0069d9; /* Darker Blue */
    
    --danger-color: #ff2e2e;       /* Red */
    --danger-color-hover: #e61919; /* Darker Red */
    
    --success-color: #3cbd7e;      /* Green */
    
    transition: all 0.3s ease-in-out;
}

/* Theme 3: Light Theme */
.light-theme {
    --primary-color: #f0f2f5;       /* Light Gray */
    --secondary-color: #ffffff;     /* White */
    --tertiary-color: #e3e6ea;      /* Lighter Gray */
    
    --primary-text-color: #343740;  /* Dark Blue Gray */
    --secondary-text-color: #4a4e5a; /* Blue Gray */
    --tertiary-text-color: #9e9e9e;  /* Gray */
    
    --selection-color: #7a96df;     /* Light Blue */
    
    --highlight-color: #007bff;     /* Bright Blue */
    --highlight-color-hover: #0069d9; /* Darker Blue */
    
    --danger-color: #ff2e2e;       /* Red */
    --danger-color-hover: #e61919; /* Darker Red */
    
    --success-color: #21bf73;      /* Green */
    transition: all 0.3s ease-in-out;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--primary-color);
    color: var(--primary-text-color);

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

/* Make text selectable */
p,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
}

* {
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--primary-text-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-text-color);
    border-radius: 6px;
    border: 3px solid var(--secondary-text-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-text-color);
}



/* ************************************ */
/* ********** GLOBAL STYLES *********** */
/* ************************************ */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-text-color);
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

input {
    border: none;
    outline: none;
}