:root {
    --primary-color: #343740;

    --primary-color-light: #4a4e5a;
    --primary-color-lighter: #5f636f;
    --primary-color-dark: #303644;
    --primary-color-darker: #2c303c;

    --secondary-color: #E9F6FF;
    --secondary-color-light: #ffffff;
    --secondary-color-lighter: #ffffff;
    --secondary-color-dark: #c8e0ff;
    --secondary-color-darker: #a7cbff;

    --tertiary-color: #1f1f1f;

    --black-color: #000000;
    --white-color: #ffffff;

    --gray-1: #fafafa;
    --gray-2: #f4f4f4;
    --gray-3: #e0e0e0;
    --gray-4: #bdbdbd;
    --gray-5: #9e9e9e;
    --gray-6: #757575;
    --gray-7: #616161;

    --blue-1: #6e81ec;
    --blue-2: #5c6ac4;
    --blue-3: #4a538c;
    --blue-4: #3e4a7d;
    --blue-5: #323e6e;
    --blue-6: #2c3860;
    --blue-7: #262f52;

    --light-blue-1: #e9f6ff;
    --light-blue-2: #c8e0ff;
    --light-blue-3: #a7cbff;
    --light-blue-4: #86b5ff;
    --light-blue-5: #6590ff;
    --light-blue-6: #4c6fd5;
    --light-blue-7: #3450a1;
    --light-blue-8: #6FC3E2;

    --red-1: #ff6b6b;
    --red-2: #ff5252;
    --red-3: #ff3d3d;
    --red-4: #ff2e2e;
    --red-5: #ff1f1f;
    --red-6: #e61919;
    --red-7: #b70000;

    --green-1: #21bf73;
    --green-2: #16a765;
    --green-3: #149b5d;
    --green-4: #128c55;
    --green-5: #0f7b4c;
    --green-6: #0d6a44;
    --green-7: #0a593c;

    --yellow-1: #ffd166;
    --yellow-2: #ffc61e;
    --yellow-3: #ffbe0b;
    --yellow-4: #ffad00;
    --yellow-5: #ff9c00;
    --yellow-6: #e68a00;
    --yellow-7: #b36b00;

    --purple-1: #a55eea;
    --purple-2: #8b4ee8;
    --purple-3: #732ce6;
    --purple-4: #5c1de4;
    --purple-5: #4a10d8;
    --purple-6: #3e0cc9;
    --purple-7: #3309b8;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--primary-color);
    color: var(--white-color);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--primary-color-darker);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 6px;
    border: 3px solid var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color-light);
}



/* ************************************ */
/* ********** GLOBAL STYLES *********** */
/* ************************************ */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--white-color);
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: var(--primary-color-light);
    color: var(--white-color);
}

input {
    border: none;
    outline: none;
}