.library {
    margin-top: var(--header-height);
    width: 100%;
    height: 100%;

    .libraryContainer {
        margin: 0 auto;
        width: 100%;

        .libraryContent {
            margin: 12px auto;
            width: 90%;

            .libraryContentCategorySeries {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                .libraryContentCategorySeriesEmpty {
                    margin-top: 5rem;
                    width: 95%;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}