.searchBar {
    display: flex;
    align-items: center;

    .searchButton {
        background: none;
        border: none;
        color: var(--primary-text-color);

        text-align: center;
        text-decoration: none;
        display: inline-block;

        cursor: pointer;
        margin: 0 7px;
        padding: 0.5rem !important;

        transition-duration: 0.4s;

        &:hover {
            animation: pulse 2s infinite;
        }

        @keyframes pulse {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.1);
            }

            100% {
                transform: scale(1);
            }
        }

        .searchIcon {
            display: flex;
            align-items: center;
            font-size: 1.7rem;
        }
    }

    .searchInput {
        padding: 0.5rem;
        margin-right: 1rem;

        border: none;
        border-bottom: 1px solid var(--secondary-text-color);

        background-color: var(--primary-color);
        color: var(--primary-text-color);
        width: 0;

        &.active {
            display: block;
            width: 12rem;
            animation: expand 0.5s ease forwards;

            @keyframes expand {
                0% {
                    width: 0;
                }

                100% {
                    width: 12rem;
                }
            }
        }
    }
}