.dateLabel {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: -10px;
}

.historyCard {
    margin: 0 auto;

    display: flex;
    align-items: center;

    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;

    transition: all 0.2s ease-in-out;

    &:hover {
        transform: scale(1.01);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    .cover {
        width: 150px;
        height: 200px;
        object-fit: cover;

        border-radius: 5px;

        &:hover {
            cursor: pointer;
            transition: all 0.2s ease;
            filter: brightness(0.8);
        }
    }

    .info {
        display: flex;
        flex-direction: column;

        max-width: 70%;
        margin-left: 20px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .headerInfo {
            display: flex;
            align-items: center;

            margin-bottom: 10px;
        }

        .title {
            font-size: 1.4rem;
            font-weight: bold;
            margin-bottom: 10px;
            width: fit-content;
            white-space: pre-wrap;

            &:hover {
                cursor: pointer;
                color: var(--selection-color);
            }
        }

        .episodeName {
            font-size: 1rem;
            margin-bottom: 10px;
            white-space: pre-wrap;

            &:hover {
                cursor: pointer;
                color: var(--selection-color);
            }
        }

        .episodeTime {
            display: flex;
            align-items: flex-end;

            font-size: 0.9rem;
            color: var(--secondary-text-color);
        }
    }

    .deleteIcon {
        margin-left: auto;
        margin-right: 35px;
        font-size: 1.9rem;

        color: var(--danger-color-hover);
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(1.2);
            color: var(--danger-color);
        }

        cursor: pointer;
    }
}