.optionBar {
    position: fixed;
    bottom: 0;

    left: calc(50% + var(--navigation-width) / 2);
    right: 50%;

    transform: translate(-50%, -50%);
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(85% - var(--navigation-width));
    margin: 0 auto;

    height: 50px;
    padding: 0 1rem;

    background-color: var(--tertiary-color);
    border-radius: 7px;

    .container {
        display: flex;
        align-items: center;

        width: 100%;

        .checkbox {
            display: flex;
            align-items: center;

            input[type="checkbox"] {
                position: relative;

                width: 23px;
                height: 23px;

                appearance: none;
                border: 2px solid var(--secondary-text-color);
                border-radius: 4px;

                background-color: #222222;
                outline: none;

                transition: all 0.2s ease-in-out;

                &:checked {
                    background-color: rgba($color: #585858, $alpha: 0.7);
                    border: 2px solid rgba($color: #585858, $alpha: 0.7);
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

                    &::after {
                        content: '';
                        display: block;

                        width: 10px;
                        height: 5px;

                        border: 2px solid var(--primary-text-color);
                        border-top: none;
                        border-right: none;

                        position: absolute;
                        top: 50%;
                        left: 50%;

                        transform: translate(-50%, -50%) rotate(-45deg);

                        animation: checkmark 0.2s ease-in-out;

                        @keyframes checkmark {
                            from {
                                width: 0;
                                height: 0;
                            }

                            to {
                                width: 10px;
                                height: 5px;
                            }
                        }
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .label {
                font-size: 0.8rem;
                color: var(--primary-text-color);
                font-weight: 800;
                margin-left: 0.5rem;

                &:hover {
                    cursor: pointer;
                    color: var(--secondary-text-color);
                }
            }

            .erase {
                font-size: 0.8rem;
                color: var(--danger-color);
                font-weight: 800;
                margin-left: 0.5rem;
                cursor: pointer;
            }
        }

        .optionContainer {
            position: absolute;
            right: 7px;

            display: flex;
            align-items: center;
            justify-content: center;

            .option {
                display: flex;
                align-items: center;
                justify-content: center;

                padding: 4px 12px;
                border-radius: 7px;

                margin-left: 0.5rem;

                font-size: 0.8rem;
                color: var(--primary-text-color);
                font-weight: 800;

                &:hover {
                    transition: all 0.2s ease-in-out;
                    cursor: pointer;
                    background-color: var(--secondary-color);
                }

                .icon {
                    padding: 0;
                    margin-top: 4px;
                }
            }
        }
    }
}