
.sourceContent {
    margin: 0;
    width: 100%;

    .seriesContainer {
        margin-top: 12px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .episodesContainer {
        margin-top: 12px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}