.sourceContent {
    margin: 12px auto;
    width: 90%;

    margin-bottom: 7rem;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .episodesContainer {
        margin-top: 12px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}