.sourceContent {
    width: 100%;
    margin: 0;

    margin-top: 12px;

    .seriesContainer {
        padding: 0 12px;
        width: 100%;

        overflow: hidden;

        &.explore {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 12px;
        }

        &.linked {
            width: 80%;
            margin: 0 auto;

            margin-top: 12px;
        }

        &.source {
            display: flex;
            justify-content: flex-start;

            overflow-x: auto;
            overflow-y: hidden;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }

        &.source::-webkit-scrollbar {
            display: none;
        }

        .noSeries {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            h1 {
                margin-top: 20px;
                color: var(--danger-color);
                font-weight: bold;
            }
        }
    }

    .episodesContainer {
        margin: 22px 8px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .resumeButton {
            position: fixed;

            bottom: 15px;
            right: 15px;

            z-index: 1;

            padding: 12px 20px;
            border-radius: 7px;

            display: flex;
            align-items: center;
            justify-content: center;

            background-color: var(--highlight-color);
            color: #fff;

            font-weight: bold;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
            transition: background-color 0.2s ease-in-out;

            &:hover {
                background-color: var(--highlight-color-hover);
            }

            &:active {
                animation: click 0.2s ease-in-out;

                @keyframes click {
                    0% {
                        transform: scale(1);
                    }

                    50% {
                        transform: scale(0.9);
                    }

                    100% {
                        transform: scale(1);
                    }
                }
            }

            svg {
                margin-right: 10px;
            }
        }
    }
}