.randButton {
    background: none;
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 0 20px;    
    cursor: pointer;
    
    transition-duration: 0.4s;

    &:hover {
        animation: pulse 2s infinite;
        color: var(--secondary-color-darker);
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
}